@font-face {
	font-family: Helvetica;
	src: url("../font/Helvetica_variable_wght.ttf");
}

/*  <======== VARIABLES =======>  */
:root {
	--font: Helvetica;
	--primary-clr: #ff6c02;
	--primary-clr-dark: #ec690c;
	--primary-clr-opacity: #fff0e6;
	--primary-tab-clr: #fba112;
	--white: #fff;
	--black: #000;
}

/* <======== DEFAULTS =======> */
*,
*::before,
*::after {
	font-family: var(--font) !important;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background-color 280ms ease, color 100ms ease;
	text-rendering: optimizeLegibility;
}
:is(h1, h2, h3, h4, h5, h6, ul) {
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style-type: none;
}
a {
	font-size: 0.9rem;
	text-decoration: none;
}
button {
	all: unset;
	-webkit-transition: 280ms ease-in-out;
	-moz-transition: 280ms ease-in-out;
	-ms-transition: 280ms ease-in-out;
	-o-transition: 280ms ease-in-out;
	transition: 280ms ease-in-out;
}
