#v-pie-chart {
	--size: 9rem;
	max-width: var(--size) !important;
	height: var(--size) !important;
	aspect-ratio: 1/1;
	width: 100% !important;
}
.v-chart-detail small {
	font-size: 0.8rem;
}
.v-chart-container-skin .v-title {
	font-size: 0.9rem;
}
.v-chart-container-skin.color-grey {
	background-color: #f3f2f0cf;
	border-radius: 5px;
	padding: 1rem;
	display: flex;
	flex-direction: column;

	& .container-body {
		flex-grow: 1;
		display: flex;
		row-gap: 1rem;
		flex-direction: column;
		justify-content: space-between;
	}

	& .dot {
		--size: 14px;
		height: var(--size);
		width: var(--size);
		aspect-ratio: 1/1;
		border: 1px solid var(--primary-clr);
		border-radius: 50%;
	}

	& .v-value {
		font-size: 0.85rem;
		letter-spacing: -1px;
		font-weight: 600;
	}

	& .v-country-name {
		font-size: 0.86rem;
	}
	& :is(.state, .percentage-value) {
		font-size: 0.8rem;
	}

	& .v-each-chart-info {
		& .dot {
			--size: 10px;
		}
	}
}
.v-chart-container-skin.color-grey .v-num {
	font-weight: 600;
	font-size: 2.6rem;
}
#v-list-countries {
	row-gap: 0.25rem;
	display: flex;
	flex-direction: column;
}
.link-out {
	display: flex;
	align-items: center;
	color: var(--primary-clr);
	gap: 5px;
	justify-content: flex-end;
	font-size: 0.85rem;
	font-weight: 500;

	&:hover {
		color: var(--primary-clr-dark);
	}
}
.v-chart-container-skin {
	& .v-chart-info {
		.v-title {
			font-weight: 500;
			font-size: 0.9rem;
			color: var(--primary-clr);
		}
		& ul {
			display: grid;
			gap: 0.8rem;
			margin-top: 10px;

			@media all and (max-width: 400px) {
				& {
					grid-template-columns: 1fr;
				}
			}
			@media all and (min-width: 768px) {
				& {
					display: flex;
					flex-direction: column;
				}
			}
			& li {
				flex-grow: 1;
				& div {
					display: flex;
					flex-direction: column;
					margin-top: 3px;

					& .v-description-value {
						color: var(--primary-clr);
						font-weight: 800;
						font-size: 1.7rem;
						& sup {
							font-weight: 400;
							margin-top: 1rem;
							font-size: 0.8rem;
							top: -4px;
						}
					}
					& .v-description-text {
						font-size: 0.78rem;
						letter-spacing: -0.3px;
						line-height: 1;
					}
				}
				& a {
					color: var(--white);
					background-color: var(--primary-clr);
					justify-content: center;
					border-radius: 5px;
					padding: 0.6rem 1rem;
					font-size: 0.8rem;
					font-weight: 500;
					width: max-content;

					&:hover {
						background-color: var(--primary-clr-dark);
					}

					& svg {
						--size: var(--md-svg-size);
						width: var(--size);
						height: var(--size);
					}
				}
			}
		}
	}
	& .nav-link {
		background-color: transparent;
		border-bottom: 1.5px solid transparent;
		border-radius: 0;
		color: var(--dark);
		font-size: 0.8rem;
		padding-inline: 4px;
		padding-block-start: 0;

		&.active {
			background-color: transparent;
			border-color: var(--primary-clr);
			font-weight: 600;
			color: var(--dark);
		}
	}
}
.v-chart-container-skin .v-top {
	& .v-title {
		font-size: 500;
		letter-spacing: -0.4px;
	}
	& a.link-out:has(svg) {
		letter-spacing: -0.4px;
		font-size: 0.78rem;
	}
	& svg {
		--size: var(--md-svg-size);
		height: var(--size);
		width: var(--size);
	}
}

.v-chart-container {
	& #pie-chart {
		--size: 10rem;
		max-width: var(--size) !important;
		height: var(--size) !important;
		margin: auto;
	}
}
