:root {
	--primary-clr: #ff4a00;
	--primary-light-clr: #ffede6;
	--border: rgb(204 204 204 / 0.35);
	--grey: #828282;
	--card-icon-bg: #efefef;
	--white: #fff;
	--bg-clr: #f5f5f5;
	--black: #000;
	--secondary-clr: #fba112;
	--secondary-clr-opacity: rgba(251, 161, 18, 0.4);
	--sm-svg-size: 1rem;
	--xs-svg-size: 0.85rem;
	--md-svg-size: 1.08rem;
	--lg-svg-size: 1.4rem;
	--xl-svg-size: 1.8rem;
	--shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
	--height: 63px;
}
.wrapper-inner {
	--nav-side-bar-width: 240px;
	min-height: 100%;
	position: relative;
}
.wrapper-inner .nav-sidebar {
	min-height: 100vh;
	position: relative;
	width: var(--nav-side-bar-width);
}
.nav-sidebar-inner {
	background-color: var(--white);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	max-width: var(--nav-side-bar-width);
	width: 100%;
	box-shadow: var(--shadow);
	height: 100%;
	z-index: 4;
}
.nav-sidebar-logo {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 0.85rem 2rem;
	border-bottom: 1px solid var(--border);
	height: var(--height);

	& .v-nav-sidebar-logo {
		width: 7rem;
	}
}
.nav-sidebar-content {
	width: 100%;
	text-align: start;
	min-height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.2pc 1rem 1rem;
	flex-grow: 1;
}
:is(.nav-sidebar-content, .mobile-canvas-content) .nav-links {
	width: 100%;
	margin-inline: auto;

	&:nth-child(1) {
		& .each-nav-link {
			&:nth-child(1) {
				& svg {
					rotate: 45deg;
				}
			}
		}
	}

	&:nth-child(2) {
		& .each-nav-link {
			& .nav-link-item {
				background-color: var(--primary-clr);
				color: var(--white);
				padding-block: 0.8rem;
				&:hover {
					background-color: var(--primary-clr-dark);
				}
			}
		}
	}
}
.nav-sidebar-content .each-nav-link {
	line-height: 1.4;
}
.each-nav-link .nav-link-item {
	color: var(--black);
	display: flex;
	align-items: center;
	width: 100%;
	transition: 200ms ease;
	border-radius: 5px;
	border: 1px solid transparent;
	margin-bottom: 2px;
	padding: 0.6rem 0.4rem 0.6rem 0.9rem;
	gap: 10px;

	& svg {
		--size: var(--md-svg-size);
		height: var(--size);
		width: var(--size);
		transition: color 50ms ease;
		display: flex;
		align-self: center;
	}

	& .v-link-title {
		font-weight: 500;
		font-size: 0.8rem;
	}
}
.each-nav-link .nav-link-item:hover {
	color: var(--primary-clr);
	background-color: var(--primary-clr-opacity);
}
/* page-content */
.page-content {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: calc(100% - var(--nav-side-bar-width));
	min-height: 100vh;
}
@media all and (max-width: 768px) {
	.page-content {
		width: 100%;
	}
}
.page-content-inner {
	display: flex;
	flex-direction: column;
}
.page-content .topper {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--border);
	padding: calc(0.7rem - 1.6px) 1.4rem;
	position: sticky;
	top: 0;
	background-color: var(--white);
	z-index: 2;
	height: var(--height);
}
.page-content .topper .title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.notify-user {
	gap: 0.8rem;
}
.notify-user .v-icon {
	position: relative;
	color: var(--grey);

	&:hover {
		color: var(--primary-clr);
	}

	& svg {
		--size: calc(var(--lg-svg-size) * 0.9);
		width: var(--size);
		height: var(--size);
	}

	& .v-badge {
		position: absolute;
		top: 0;
		translate: 4px -3px;
		box-shadow: var(--shadow);
		right: 0;
		background-color: var(--primary-clr);
		color: var(--white);
		font-size: 0.5rem;
		font-weight: 600;
		border-radius: 50%;
		line-height: 1;
		padding: 3px;
		display: flex;
		align-self: center;
		justify-content: center;
	}
}
.page-content .topper :is(.notify-user, button, .user-icon, .mobile-menu-toggler) {
	display: flex;
	align-items: center;
}
.v-mobile-logo {
	max-width: 2.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.page-content .mobile-menu-toggler button svg {
	--size: var(--xl-svg-size);
	height: var(--size);
	width: var(--size);
}
.page-content .topper .notify-user .user-image {
	--size: 2.5rem;
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
	overflow: hidden;
	padding: 2px;
	background-color: var(--primary-clr-dark);

	& .img-fluid {
		border-radius: 50%;
	}
}
.page-content-body {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	flex-grow: 1;
	margin: 1rem 0.1rem;
}
.page-content-body-inner {
	border-radius: 6px;
	height: 100%;
}
.page-content-body .title h2 {
	color: var(--primary-clr);
	font-weight: 600;
}
.page-content-inner {
	height: 100%;
}
@media all and (max-width: 600px) {
	.page-content .topper {
		padding: 0.5rem 1rem;
	}
	.page-content-inner {
		padding: 0;
	}
}
main.page-content-body-inner {
	padding: 1rem 0.8rem;
}
/* mobile offcanvas bar */
.offcanvas {
	padding: 0;
}
.offcanvas-header {
	justify-content: flex-end;
}
.offcanvas-header .btn-close:hover {
	color: var(--white);
}
.mobile-canvas-content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}
.mobile-canvas-content .nav-links:nth-child(2) {
	margin-top: 3rem;
}
.offcanvas .each-nav-link .nav-link-item {
	white-space: nowrap;
	padding: 0.7rem 1rem;
	transition: 250ms ease;
}
@media all and (min-width: 991px) {
	.offcanvas,
	.offcanvas-backdrop.show {
		display: none;
	}
}
.v-search-icon {
	padding: 8px;
	border-radius: 50%;

	&:hover {
		background-color: var(--primary-clr-opacity);
	}
}
.v-search-icon.active {
	background-color: var(--primary-clr-opacity);
	color: var(--primary-clr);

	&:hover {
		background-color: var(--primary-clr);
		color: var(--white);
	}
}

.topper .v-search-input {
	--r-offset: 1rem;
	width: 100%;
	transform-origin: right;
	transition: scale 200ms ease;
	scale: 0 1;
	position: relative;
	display: grid;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	overflow: hidden;
	border-radius: 0.375rem;

	&.active {
		scale: 1 1;
	}

	@media all and (min-width: 600px) {
		& {
			max-width: 500px;
		}
	}
	& .form-control {
		border-width: 1.1px;
		font-size: 0.8rem;
		min-height: 2.8rem;
		border-radius: 0.3rem;
		border-color: #d9d9d9;
		padding-right: calc(var(--r-offset) * 6);

		&:focus {
			border-color: var(--primary-clr);
			box-shadow: none;
		}

		&::placeholder {
			opacity: 0.8;
			font-size: 0.8rem;
		}
	}

	& form {
		position: relative;
	}

	& .v-search-button {
		--offset: 4px;
		background-color: var(--primary-clr);
		color: var(--white);
		font-size: 0.8rem;
		font-weight: 500;
		height: 0;
		padding-inline: calc(var(--r-offset) * 1.5);
		padding-block: 1.15rem;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: var(--offset) var(--offset) var(--offset) 0;
		text-transform: capitalize;
		border-radius: 3px;

		&:hover {
			background-color: var(--primary-clr-dark);
		}
	}

	@media all and (0px < width < 1080px) {
		& {
			position: absolute;
			width: 90%;
			margin-inline: auto;
			top: 100%;
			left: 0;
			right: 0;
			margin-top: 2px;
			z-index: 10;
		}
	}
}
