.page-content-body-inner .v-top {
	& .nav-pills {
		gap: 1rem;
	}
	& .nav-link {
		border-radius: 4px;
		font-size: 0.9rem;
		font-weight: 500;
		padding-block: 0.6rem;
		color: var(--primary-clr);
		background-color: var(--primary-clr-opacity);
	}

	& .vD-SDGA {
		& .nav-link {
			font-size: 0.78rem;
		}
	}
}
.page-content-body-inner .v-top .nav-link.active {
	background-color: var(--primary-clr);
	color: var(--white);
}

#v-export-container {
	row-gap: 10px;

	& svg {
		--size: var(--sm-svg-size);
		width: var(--size);
		height: var(--size);
	}
	& .v-export {
		background-color: var(--primary-clr);
		color: var(--white);
		display: flex;
		align-items: center;
		padding: 0.6rem 0.9rem;
		border-radius: 3px;
		gap: 10px;

		&:hover {
			background-color: var(--primary-clr-dark);
		}
		font-size: 0.8rem;
		font-weight: 600;
	}
}

#v-table-search-top .v-num-of-users {
	font-weight: 600;
	color: var(--primary-clr);
}
#v-table-search-top .v-search-container {
	position: relative;
	max-width: 310px;
	width: 100%;

	& .form-control {
		min-height: 2.6rem;
		padding-right: 2rem;
		font-size: 0.9rem;
		color: rgba(0 0 0 / 60%);
		width: 100%;

		&::placeholder {
			font-size: 0.8rem;
			opacity: 0.7;
		}

		&:focus {
			border-color: var(--primary-clr);
			box-shadow: none;
		}
	}
}
#v-table-search-top .v-search-icon-wrapper {
	position: absolute;
	right: 0;
	top: 50%;
	translate: -50% -50%;
	display: flex;
	align-items: center;

	& svg {
		--size: calc(var(--sm-svg-size) * 1.1);
		width: var(--size);
		height: var(--size);
		opacity: 0.3;
	}
}
#v-table-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
#v-table-container .nav-item .nav-link {
	color: var(--black);
	font-size: 0.8rem;
	border-radius: 0;
	opacity: 0.8;
	text-decoration: 2px solid underline;
	text-underline-offset: 11px;
	text-decoration-color: transparent;
	transition: text-decoration-color 300ms ease;
	background-color: transparent;
	border-radius: 4px;

	&:hover {
		background-color: var(--bore);
	}
}
#v-table-container .nav-item .nav-link.active {
	background-color: transparent;
	color: var(--black);
	font-weight: 600;
	color: var(--primary-clr);
	border-color: var(--primary-clr);
	text-decoration-color: var(--primary-clr);
}
#v-table-container .v-table-skin .tab-content {
	--yellow: 251 161 18;
	--yellow-clr: #fba112;
	--yellow-opacity: rgba(var(--yellow) / 20%);
	--red: 235 87 87;
	--red-clr: #eb5757;
	--red-opacity: rgba(var(--red) / 20%);
	--green: 25 135 84;
	--green-clr: #429d72;
	--green-opacity: rgba(var(--green) / 20%);
	@media all and (max-width: 1180px) {
		& {
			overflow-x: auto;
		}
	}
}
#v-table-container table :is(th, td) {
	padding: 0.8rem 1rem;
	white-space: nowrap;
}
#v-table-container table thead th {
	font-size: 0.8rem;
	font-weight: 400;
	opacity: 0.7;
}
#v-table-container table {
	margin-bottom: 0;
	&:not(.variant) tbody {
		border-bottom-color: transparent;

		& tr:not(:last-child) {
			border-bottom: 1px solid #dee2e6;
		}
	}
	&.table-bordered {
		& tbody {
			border-bottom-color: transparent;

			& tr {
				border-bottom: 1px solid #dee2e6;
			}
		}
	}
}
#v-table-container table tbody td {
	font-size: 0.78rem;

	& span:has(:not(.switch)) {
		opacity: 0.85;
	}
	& .v-tab {
		font-weight: 600;
		padding: 3px 10px;
		border-radius: 3px;
		position: relative;

		&.pending {
			background-color: var(--yellow-opacity);
			color: var(--yellow-clr);
		}
		&.failed {
			background-color: var(--red-opacity);
			color: var(--red-clr);
		}
		&.success {
			background-color: var(--green-opacity);
			color: var(--green-clr);
		}
	}

	&.d-flex:has(.v-flag-svg, .v-user-image) {
		gap: 1rem;
	}
	& :is(.v-flag-svg, .v-user-image) {
		--size: 22px;
		width: var(--size);
		height: var(--size);
		aspect-ratio: 1/1;
		overflow: hidden;
		border-radius: 50%;

		& .img-fluid {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	& .v-country-detail {
		gap: 5px;
	}
	& :is(.v-country-name, .v-user-email) {
		font-weight: 500;
	}
}
#v-table-container .v-dropdown-toggler {
	border-radius: 50%;
	aspect-ratio: 1/1;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--primary-clr-opacity);
	}

	& svg {
		--size: var(--sm-svg-size);
		height: var(--size);
		width: var(--size);
	}
}
table .dropdown-menu {
	padding: 5px;
	background-color: var(--white);
	opacity: 1;
	transition: 300ms ease;
	border-color: var(--primary-clr-opacity);
	box-shadow: var(--shadow);
}
table .dropdown-menu .dropdown-item {
	padding-block: 0.45rem;
	padding-inline-start: 8px;
	border-radius: 4px;
	gap: 0.4rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
table .dropdown-menu .dropdown-item:hover {
	background-color: var(--primary-clr-opacity);
	color: var(--primary-clr);
}
table .dropdown-item svg {
	--size: var(--sm-svg-size);
	width: var(--size);
	height: var(--size);
	color: var(--primary-clr);
	display: inline-block;
}
table .dropdown-item .v-item-title {
	font-size: 0.8rem;
	padding: 0 !important;
}
.v-pagination-container {
	margin-bottom: 2rem;
	& .pagination {
		justify-content: flex-end;
		gap: 4px;
	}
	.page-link {
		color: var(--primary-clr);
		font-size: 0.8rem;
		border: none;
		border-radius: 5px !important;
		display: flex;
		align-items: center;
		justify-content: center;

		&:focus {
			box-shadow: none;
			background-color: var(--primary-clr-opacity);
		}

		&.active {
			background-color: var(--primary-clr);
			color: var(--white);

			&:hover {
				background-color: var(--primary-clr-dark);
			}
		}

		&:hover {
			background-color: var(--primary-clr-opacity);
			border-color: var(--primary-clr);
		}
	}
}

/* switch */
.switch {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 32px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--primary-clr-opacity);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 4px;
}
.switch input:checked + .slider {
	background-color: var(--primary-clr);
	color: var(--white);
}
.switch input:checked + .slider::before {
	background-color: var(--white);
}
.slider:before {
	--size: 24px;
	position: absolute;
	content: "";
	height: var(--size);
	width: var(--size);
	left: 10px;
	bottom: 4px;
	background-color: var(--primary-clr);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 3px;
}
input:checked + .slider {
	background-color: var(--primary-clr);
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(60px);
}
.slider:after {
	content: "Activate";
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 35%;
	font-size: 10px;
	font-weight: 500;
}
.switch input:checked + .slider::after {
	color: var(--white);
}
input:checked + .slider:after {
	content: "Deactivate";
}
input:not(:checked) + .slider::after {
	left: 60%;
	color: var(--primary-clr);
}

.v-confirm-button button {
	min-height: 2.8rem;
	background-color: var(--primary-clr);
	color: var(--white);
	text-align: center;
	font-weight: 500;
	width: 100%;
	font-size: 0.85rem;
	border-radius: 5px;

	&:hover {
		background-color: var(--primary-clr-dark);
	}
}

.v-pill-container {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-top: 0.1rem;

	&.variant svg {
		--size: var(--sm-svg-size);
		width: var(--size);
		height: var(--size);
	}

	&.variant .v-pill {
		background-color: var(--primary-clr-opacity);
		color: var(--primary-clr);

		& .v-pill-value {
			font-weight: 600;
			letter-spacing: -0.3px;
			font-size: 0.7rem;
		}
	}
}
table tbody td .v-pill {
	padding: 0.6rem 1rem;
	border-radius: 4px;
	background-color: rgb(234 233 230);
	font-weight: 500;
	line-height: 1;
	width: max-content;
}
table tbody td .v-dollar-value {
	font-weight: 600;
}
.v-add-country-container {
	margin-top: 2rem;
	& button {
		background-color: var(--primary-clr);
		color: var(--white);
		padding: 0.65rem 1.2rem;
		font-size: 0.8rem;
		border-radius: 4px;
		font-weight: 600;
	}
}

/* modals */
.modal-content {
	border-radius: 0.7rem;

	& .modal-body {
		padding-inline: 0;

		& .v-form {
			padding-inline: 0.3rem;
		}
	}
}
.v-form {
	display: flex;
	flex-direction: column;
	row-gap: 1.25rem;

	& .v-range-top {
		color: var(--primary-clr);

		& svg {
			--size: var(--md-svg-size);
			width: var(--size);
			height: var(--size);
		}

		& .v-delete-range-button {
			border-radius: 50%;
			padding: 8px;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1/1;

			&:hover {
				color: var(--primary-clr);
				background-color: var(--primary-clr-opacity);
			}
		}
	}
	& #v-ranges-parent-container {
		display: flex;
		flex-direction: column;
		row-gap: 0.9rem;

		& .v-each-range {
			border: 1.2px solid var(--primary-clr);
			padding: 0.5rem 0.8rem 1rem;
			border-radius: 5px;

			& .v-range-count {
				font-size: 0.9rem;
			}

			& .v-range-inputs {
				margin-top: 1rem;
			}
		}
	}
	& .form-control {
		font-size: 0.9rem;
		background-color: var(--primary-clr-opacity);
		border-radius: 0.3rem;
		border-color: var(--primary-clr-opacity);
		min-height: 2.7rem;

		&:focus {
			box-shadow: none;
			border-color: var(--primary-clr);
		}
	}
	& .form-label {
		font-size: 0.85rem;
		margin-bottom: 1px;
		margin-left: 2px;
		opacity: 0.82;
	}

	& :is(.v-add-country-flag-button, #v-add-range) {
		color: var(--primary-clr);
		& svg {
			--size: var(--md-svg-size);
			width: var(--size);
			height: var(--size);
		}
		& span {
			font-size: 0.85rem;
			font-weight: 500;
		}
	}

	& .v-country-flag-display {
		--size: 90px;
		width: var(--size);
		aspect-ratio: 16/9;
		border-radius: 4px;
		overflow: hidden;
		display: flex;
		align-items: center;

		& img.img-fluid {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 300ms ease;
		}
	}
}
.v-trigger-modal-for-timeframe {
	display: flex;
	align-items: center;
	font-size: 0.78rem;
	background-color: var(--primary-clr-opacity);
	border-radius: 4px;
	padding: 9px 12px;
	gap: 10px;
	color: var(--primary-clr);

	& > svg {
		--size: var(--lg-svg-size) !important;
		width: var(--size);
		height: var(--size);
	}
	& .v-right {
		gap: 5px;
	}
	& .v-date {
		color: var(--primary-clr);
		font-weight: 600;
	}
}

#discount-modal .v-form-input {
	& .form-label {
		font-size: 0.9rem;
		margin-block: 1px;
		opacity: 0.8;
		font-weight: 500;
		margin-left: 3px;
	}
	& .v-form-input-inner {
		position: relative;

		& .form-control {
			background-color: var(--primary-clr-opacity);
			border-color: var(--primary-clr-opacity);
			min-height: 2.8rem;
			&:focus {
				box-shadow: none;
				border-color: var(--primary-clr);
			}
		}

		& .percentage-icon {
			position: absolute;
			right: 10px;
			top: 50%;
			translate: 0 -50%;
			display: flex;
			align-items: center;

			& svg {
				--size: var(--sm-svg-size);
				width: var(--size);
				height: var(--size);
			}
		}
	}
}
