.page-content-body-inner .v-top {
	& .nav-pills {
		gap: 1rem;
	}
	& .nav-link {
		border-radius: 4px;
		font-size: 0.9rem;
		font-weight: 500;
		padding-block: 0.6rem;
		color: var(--primary-clr);
		background-color: var(--primary-clr-opacity);
	}
}
.page-content-body-inner .v-top .nav-link.active {
	background-color: var(--primary-clr);
	color: var(--white);
}
.v-add-country-container {
	& button {
		background-color: var(--primary-clr);
		color: var(--white);
		padding: 0.6rem 1.2rem;
		font-size: 0.9rem;
		border-radius: 4px;
	}
}
#v-table-container {
	& table tbody .v-edit {
		background-color: var(--primary-clr);
		color: var(--white);
		justify-content: center;
		padding: 0.4rem 1rem;
		border-radius: 4px;
		width: max-content;
		margin-inline: auto;
		gap: 0.4rem;

		& .v-text {
			color: var(--white);
			opacity: 1;
		}

		& svg {
			--size: var(--sm-svg-size);
			width: var(--size);
			height: var(--size);
		}
	}
}

/* modals */
#v-range-form {
	display: flex;
	flex-direction: column;
	row-gap: 1.25rem;

	& .v-range-top {
		color: var(--primary-clr);

		& svg {
			--size: var(--md-svg-size);
			width: var(--size);
			height: var(--size);
		}

		& .v-delete-range-button {
			border-radius: 50%;
			padding: 8px;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1/1;

			&:hover {
				color: var(--primary-clr);
				background-color: var(--primary-clr-opacity);
			}
		}
	}
	& #v-ranges-parent-container {
		display: flex;
		flex-direction: column;
		row-gap: 0.9rem;

		& .v-each-range {
			border: 1.2px solid var(--primary-clr);
			padding: 0.5rem 0.8rem 1rem;
			border-radius: 5px;

			& .v-range-count {
				font-size: 0.9rem;
			}

			& .v-range-inputs {
				margin-top: 1rem;
			}
		}
	}
	& .form-control {
		font-size: 0.9rem;
		background-color: var(--primary-clr-opacity);
		border-radius: 0.3rem;
		border-color: var(--primary-clr-opacity);
		min-height: 2.7rem;

		&:focus {
			box-shadow: none;
			border-color: var(--primary-clr);
		}
	}
	& .form-label {
		font-size: 0.85rem;
		margin-bottom: 1px;
		margin-left: 2px;
		opacity: 0.82;
	}

	& :is(#v-add-country-flag-button, #v-add-range) {
		color: var(--primary-clr);
		& svg {
			--size: var(--md-svg-size);
			width: var(--size);
			height: var(--size);
		}
		& span {
			font-size: 0.9rem;
			font-weight: 500;
		}
	}

	& .v-country-flag-display {
		--size: 100px;
		width: var(--size);
		aspect-ratio: 16/9;
		border-radius: 4px;
		overflow: hidden;
		display: flex;
		align-items: center;

		& img.img-fluid {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
