#v-table-container {
	& table tbody .v-edit {
		background-color: var(--primary-clr);
		color: var(--white);
		justify-content: center;
		padding: 0.4rem 1rem;
		border-radius: 4px;
		width: max-content;
		margin-inline: auto;
		gap: 0.4rem;

		& .v-text {
			color: var(--white);
			opacity: 1;
		}

		& svg {
			--size: var(--sm-svg-size);
			width: var(--size);
			height: var(--size);
		}
	}
}
#v-country-success {
	& .modal-body .v-modal-image {
		--size: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1/1;
		width: var(--size);
		height: var(--size);
		margin-bottom: 1rem;
		background-color: var(--primary-clr);
		border-radius: 50%;
		padding: 1rem;
	}
}
.modal .v-submit-button {
	background-color: var(--primary-clr);
	color: var(--white);
	font-size: 0.9rem;
	width: 100%;
	min-height: 2.8rem;
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--primary-clr-dark);
	}
}
