:is(.v-card-wrapper-inner, #v-cloak) {
	row-gap: 1rem;
}
.v-card-container-wrapper .v-top .v-top-text {
	color: var(--primary-clr);
	font-size: 0.88rem;
}
.v-card-container-wrapper .v-top .dropdown-menu {
	transition: 400ms ease;
	box-shadow: var(--shadow);
	padding: 4px;
	border-color: var(--primary-clr-opacity);
}
.v-card-container-wrapper .v-top .dropdown .dropdown-item {
	font-size: 0.8rem;
	border-radius: 4px;
	padding-block: 0.4rem;
	&:hover {
		background-color: var(--primary-clr-opacity);
		color: var(--primary-clr);
	}
}
.v-card-container-wrapper .v-card-skin {
	padding: 0.5rem;
	padding-block: 0;
}
.v-card-container-wrapper .v-card-inner {
	display: flex;
	padding: 1rem;
	align-items: flex-start;
	flex-direction: column;
	border-radius: 6px;
	border: 1.1px solid transparent;
	background-color: var(--bg-clr);
}
.v-card-inner .v-card-detail {
	display: flex;
	flex-direction: column;
}
.v-card-detail .v-card-title {
	opacity: 0.8;
	white-space: nowrap;
	font-size: 0.845rem;
	font-weight: 400;
}
.v-card-inner .v-card-value {
	font-weight: 800;
	color: var(--primary-tab-clr);
}
.v-card-inner .v-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	margin-bottom: 5px;
	& svg {
		--size: calc(var(--md-svg-size));
		color: var(--primary-tab-clr);
		width: var(--size);
		height: var(--size);
	}
}
