#v-tab-content-container .v-pre-title .v-sm-title {
	font-size: 0.9rem;
}
#v-tab-content-container .nav-pills .nav-item {
	flex-grow: 1;
	text-align: center;
}
#v-tab-content-container .nav-pills .nav-link {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3.2rem;
	background-color: var(--primary-clr-opacity);
	color: var(--primary-clr);
	overflow: hidden;
	padding-block: 0.2rem;
}
#v-tab-content-container .nav-pills .nav-link.active {
	background-color: var(--primary-clr);
	color: var(--white);
}
.nav-pills .v-image-overflow {
	margin-bottom: -8px;
	width: 6rem;

	& .img-fluid {
		scale: 1.2;
	}
}
.nav-pills .v-tab-title {
	font-weight: 600;
	font-size: 0.901rem;
}
.tab-content .v-outer-form-container form {
	--gap: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: var(--gap);
	padding-block: 3rem;
}
.tab-content .v-separator {
	position: relative;
	display: flex;
	align-items: center;
	margin-block: var(--gap);
	justify-content: center;
	border-top: 1px solid var(--border);
}
.tab-content .v-separator .v-floating-item {
	position: absolute;
	inset: 0;
	margin: auto;
	width: max-content;
	font-size: 0.8rem;
	height: 0;
	padding: 0.6rem 1.2rem;
	color: var(--grey);
	border-radius: 100px;
	z-index: 1;
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
}
.tab-content :is(.form-select, .form-control) {
	background-color: var(--primary-clr-opacity);
	font-size: 0.9rem;
	min-height: 2.9rem;
	opacity: 0.98;
	color: var(--black);
	border-color: var(--primary-clr-opacity);

	&:focus {
		border-color: var(--primary-clr);
		box-shadow: none;
	}
}
.tab-content .form-label {
	font-size: 0.85rem;
	font-weight: 500;
	opacity: 0.7;
	margin-bottom: 2px;
}
.tab-content .form-check {
	cursor: pointer;
	& .form-check-input {
		--size: 1.2rem;
		cursor: pointer;
		height: var(--size);
		width: var(--size);
		border-color: var(--primary-clr);
		&:focus {
			box-shadow: 0 0 0 0.25rem var(--primary-clr-opacity);
		}
		&:checked {
			box-shadow: 0 0 0 0.25rem var(--primary-clr-opacity);
			background-color: var(--primary-clr);
			border: var(--primary-clr);
		}
	}
	.form-check-label {
		font-size: 0.88rem;
		opacity: 0.8;
		cursor: pointer;
		margin-left: 5px;
	}
}
.tab-content .submit-button {
	margin-top: 1.5rem;

	& .v-submit-button {
		background-color: var(--primary-clr);
		color: var(--white);
		font-size: 0.9rem;
		width: 100%;
		min-height: 2.8rem;
		border-radius: 0.3rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: var(--primary-clr-dark);
		}
	}
}
.v-form-input .v-put-amount .form-control {
	padding-left: 2.2rem;
}
.v-recievers-name {
	font-size: 0.73rem;
}
.v-form-input .v-put-amount .v-currency {
	font-size: 1.1rem;
	font-weight: 600;
	opacity: 0.9;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0.8rem;
	display: flex;
	align-items: center;
}
/* modal styles */
.modal .modal-content {
	border-radius: 0.6rem;
}
.modal .modal-footer button {
	flex-grow: 1;
}

#v-input-pin-form-container form {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}
#v-input-pin-form-container .v-pins-container {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1.2rem;
}

.v-pins-container .form-control {
	background-color: var(--primary-clr-opacity);
	border-width: 1.5px;
	border-color: var(--primary-clr);
	font-size: 1.2rem;
	text-align: center;
	aspect-ratio: 1/1;
	&:focus {
		border-color: var(--primary-clr);
		box-shadow: none;
	}
}

#v-input-pin-form-container {
	align-items: center;
	margin-block: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}
#v-input-pin-form-container .v-small-text {
	font-size: 0.8rem;
	gap: 0.3rem;
	justify-content: center;
	& button {
		color: var(--primary-clr);
		&:hover {
			color: var(--primary-clr-dark);
		}
	}
}
#v-input-pin-form-container :is(.v-proceed-button, .v-submit-button) {
	background-color: var(--primary-clr);
	color: var(--white);
	width: 100%;
	text-align: center;
	font-size: 0.9rem;
	border-radius: 0.38rem;
	min-height: 2.9rem;

	&:hover {
		background-color: var(--primary-clr-dark);
	}
}
.v-transfer-body-container {
	text-align: center;

	& .v-price-container {
		margin-block: 1rem 1.5rem;

		& .v-price {
			font-weight: 700;
		}
	}
}
.modal .v-pre-board {
	margin-bottom: 1rem;
	row-gap: 1rem;
	flex-direction: row !important;

	& > div {
		display: flex;
		flex-direction: column;
	}
	& small {
		font-size: 0.7rem;
		margin-bottom: 6px;
	}
	& .v-acct-num {
		font-weight: 800;
		font-size: 0.9rem;
		letter-spacing: -0.3px;
	}
	& .v-acct-name {
		font-size: 0.8rem;
		font-weight: 500;
		letter-spacing: -0.3px;
	}

	& svg {
		--size: var(--xl-svg-size);
		width: var(--size);
		height: var(--size);
		color: var(--primary-clr);
	}

	& .v-go-between {
		width: calc(70% / 2);
		margin-inline: auto;

		& .v-go-between-stroke {
			height: 2.5px;
			background-color: var(--primary-clr);
			width: 100%;
			position: relative;

			&:after,
			&:before {
				--size: 1rem;
				border-radius: 50%;
				aspect-ratio: 1/1;
				width: var(--size);
				content: "";
				background-color: var(--primary-clr);
				top: 50%;
				translate: 0px -50%;
				position: absolute;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
		}
	}
}
.modal .v-board {
	background-color: var(--bg-clr);
	padding: 1rem;
	border-radius: 7px;

	& .v-board-inner {
		display: flex;
		flex-direction: column;
		row-gap: 0.6rem;

		& .v-key {
			font-size: 0.85rem;
		}
		& .v-value {
			font-weight: 700;
			font-size: 0.9rem;
			letter-spacing: -0.6px;
			word-spacing: 2px;
			text-transform: uppercase;
		}
		& .v-image-container {
			--size: 25px;
			width: var(--size);
			height: var(--size);
			border-radius: 50%;
			display: flex;
			align-items: center;
			aspect-ratio: 1/1;
			justify-content: center;
			overflow: hidden;
			margin-right: 10px;
		}
		@media all and (max-width: 400px) {
			& :is(.v-key, .v-value) {
				font-size: 0.7rem;
			}
		}
	}
}
.modal .modal-footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0rem 0.5rem;

	@media all and (max-width: 450px) {
		& {
			grid-template-columns: 1fr;
		}
	}

	& button {
		text-align: center;
		padding-block: 0.6rem;
		border-radius: 5px;
		font-size: 0.9rem;
		font-weight: 500;

		&.v-cancel {
			background-color: var(--primary-clr-opacity);
			color: var(--primary-clr);
		}
		&.v-proceed {
			background-color: var(--primary-clr);
			color: var(--white);
			&:hover {
				background-color: var(--primary-clr-dark);
			}
		}
	}
}
.modal .v-pre-footer {
	background-color: var(--primary-clr-opacity);
	border-radius: 5px;
	padding: 0.7rem 1rem;
	margin-top: 0.7rem;

	& .v-key {
		font-size: 0.8rem;
	}
	& .v-value {
		font-size: 0.9rem;
	}
}
